html * {
    font-family:
        ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

body {
    background-color: #f8fafc;
    color: #22223b;
    padding: 0 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #1e293b;
    font-weight: 700;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

:root {
    font-size: 16px;
}

@media (max-width: 700px) {
    :root {
        font-size: 14px;
    }
}

@media (max-width: 500px) {
    :root {
        font-size: 12px;
    }
}
